.wrapper {
    width: 356px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 61px;
    bottom: 0px;
    width: 356px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 9;
    padding-right: 8px;
}
